.Navbar {
    padding: 16px;
    background-color: #2055CC;
    height: 4%;
}

#logo {
    display: inline;
    background-color: white;
    padding: 8px 12px;
    margin: 1%;
    color: #2055CC;
    font-style: italic;
    font-size: 24px;
    border-radius: 10px;
}

#about {
    display: inline;
    color: white;
    font-size: 24px;
    padding-right: 2%;
    float: right;
}
#about img {
    width: 18px;
}
#about a {
    text-decoration: none;
    color: white;
}
#about a:hover {
    box-shadow: white 0px 1px 0px 0px;
}



/* Media Queries */

@media only screen and (max-width: 1024px) {
    .Navbar {
        padding: 36px;
    }

    #logo {
        padding: 16px 16px;
        margin: 1%;
        font-size: 36px;
        border-radius: 10px;
    }
    
    #about {
        font-size: 36px;
        padding-right: 2%;
    }
    #about img {
        width: 28px;
    }
}